* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    width: 100%;
    height: 100px;
    Background: gray;
    padding-left: 15px;
}

.header h1{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}






.connexion {
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}






.inscription {
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}








label {
    font-size: 25px;
}


img {
    margin-left: 10px;
    width: 40px;
    cursor: pointer;
}







input {
    display: block;
    padding: 12px 20px;
    margin: 5px 0px 10px 0px;
    box-sizing: border-box;
    border: 3px solid white;
    transition: 0.5s;
    outline: none;
    Background: gray;
    color: white;
    width: 300px;

}

input:focus {
    border: 3px solid gray;
    Background: white;
    color: gray;
}








button {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: solid;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    Background: gray;
    border: 3px solid white;
    color: white;
}

button:hover {
    Background: white;
    border: 3px solid gray;
    color: gray;
}










a {
    display: block;
    margin-bottom: 20px;
    color: gray;
    cursor: pointer;
    text-decoration: underline;
}
