* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

.header {
    width: 100%;
    height: 100px;
    Background: gray;
    padding-left: 15px;
}

.header h1 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}








.todolist {
    display: flex;
}

.list {
    width: 50%;
}

.task {
    width: 50%;
}











table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 25vw;
}

td {
    cursor: pointer;
}

td:hover {
    Background: LightGray;
}


.focus {
    background: gray;
}

img, .checkbox {
    float: right;
    margin-right: 10px;
    margin-left: 5px;
    width: 15px;
}

img:hover {
    width: 18px;
    margin-left: 2px;
}

.completed {
    text-decoration: line-through;
    Background: DarkSeaGreen;
}

.text {
    width: 82%;
    padding: 12px 20px;
    margin: 5px;
    box-sizing: border-box;
    border: 3px solid white;
    border-radius: 5px;
    transition: 0.5s;
    outline: none;
    Background: gray;
    color: white;
}


.text:focus {
    border: 3px solid gray;
    Background: white;
    color: gray;
}

button {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background: none;
    border: solid;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    Background: gray;
    border: 3px solid white;
    color: white;
}

button:hover {
    Background: white;
    border: 3px solid gray;
    color: gray;
}
